body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

.data-table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
    color: #333;
}

.data-table th,
.data-table td {
    border: 1px solid #b3e0ff; 
    padding: 12px;
}

.data-table thead th {
    background-color: #80d8ff; 
    color: white;
    font-weight: bold;
}

.data-table tbody tr {
    background-color: #e0f2f7; 
}

.data-table tbody tr:nth-child(even) {
    background-color: #c7effc; 
}

/* FLOAT */

.float-table-container {
    width: 60%;
    border: 1px solid #b3e0ff; 
    margin: 20px 0;
    overflow: hidden; 
    background-color: #e0f2f7; 
}

.float-row {
    clear: both;
}

.float-cell {
    float: left;
    width: 20%; 
    box-sizing: border-box; 
    padding: 12px;
    text-align: center;
    border-right: 1px solid #b3e0ff;
    border-bottom: 1px solid #b3e0ff; 
    color: #333;
}

.float-cell:last-child {
    border-right: none; 
}

.float-table-container .float-row:last-of-type .float-cell {
    border-bottom: none;
}


.float-row.header .float-cell {
    background-color: #80d8ff;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #80d8ff;
}